<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RentCars</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RentCarsHomeServlet</display-name>
    <servlet-name>RentCarsHomeServlet</servlet-name>
    <servlet-class>controller.RentCarsHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentCarsHomeServlet</servlet-name>
    <url-pattern>/RentCarsHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControllerServlet</display-name>
    <servlet-name>LoginControllerServlet</servlet-name>
    <servlet-class>controller.LoginControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControllerServlet</servlet-name>
    <url-pattern>/LoginControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserControllerServlet</display-name>
    <servlet-name>UserControllerServlet</servlet-name>
    <servlet-class>controller.UserControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/UserControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationControllerServlet</display-name>
    <servlet-name>LocationControllerServlet</servlet-name>
    <servlet-class>controller.LocationControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationControllerServlet</servlet-name>
    <url-pattern>/LocationControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationCarController</display-name>
    <servlet-name>ReservationCarController</servlet-name>
    <servlet-class>controller.ReservationCarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationCarController</servlet-name>
    <url-pattern>/ReservationCarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentalControllerServlet</display-name>
    <servlet-name>RentalControllerServlet</servlet-name>
    <servlet-class>controller.RentalControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalControllerServlet</servlet-name>
    <url-pattern>/RentalControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoCompletion</display-name>
    <servlet-name>AutoCompletion</servlet-name>
    <servlet-class>controller.AutoCompletion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompletion</servlet-name>
    <url-pattern>/AutoCompletion</url-pattern>
  </servlet-mapping>
    
</web-app>